<div class="row">
    <div class="col s6 offset-s3">
        <h2>Change password</h2>
        {{#if errChange}}
            <p class="alert_err">{{errChange}}</p>
        {{/if}}
        <form action="/auth/change-passoword" method="post">
            <div class="input-field">
                <input id="change_password" type="password" class="validate" name="password">
                <label for="change_password">Password</label>
            </div>
            <div class="input-field">
                <input id="chage_confirm" type="password" class="validate" name="confirm">
                <label for="chage_confirm">Confirm password</label>
            </div>
            <input type="hidden" name='_csrf' value='{{csrf}}'>
            <input type="hidden" name='token' value='{{token}}'>
            <input type="hidden" name='userId' value='{{userId}}'> 
            
            <button class="btn btn-primary">Reset password</button>
        </form>
    </div>
</div>