<h2>Profile</h2>
<div class="row">
    <div class="col s6">
        {{#if user.userAvatar}}
            <img class="image_avatar" src="{{user.userAvatar}}" >
        {{else}}
            <p>You dont have avatar</p>
        {{/if}}
    </div>
    <div class="col s6">
        <form action="/profile/edit" method="post" enctype="multipart/form-data" >
            <div class="input-field">
                <input id="user_name" type="text" class="validate" name="name" value='{{user.name}}'>
                <label for="user_name">Name</label>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Avatar</span>
                    <input type="file" name="avatar" id="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            

            <input type="hidden" name='_csrf' value='{{csrf}}'>

            <button class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>